openapi: 3.0.3
info:
  title: STRING REST API
  description: >
    STRING is a protein-protein interaction network database providing scored
    associations between proteins across thousands of organisms. The REST API
    enables programmatic access to interaction scores, network visualizations,
    functional enrichment analysis, homology data, and protein annotations.
    STRING integrates data from genomic context, co-expression, text mining,
    biochemical and genetic experiments, and curated databases.
  version: "12.0"
  contact:
    name: STRING Consortium
    url: https://string-db.org
  license:
    name: Creative Commons Attribution
    url: https://string-db.org/cgi/access?footer_active_subpage=licensing
  termsOfService: https://string-db.org/cgi/info?footer_active_subpage=cookies
externalDocs:
  description: STRING API Documentation
  url: https://string-db.org/help/api/
servers:
  - url: https://string-db.org
    description: STRING Production Server
tags:
  - name: identifiers
    description: Map protein names and synonyms to STRING identifiers
  - name: network
    description: Retrieve protein-protein interaction networks
  - name: homology
    description: Protein homology and similarity scores
  - name: enrichment
    description: Functional enrichment analysis
  - name: annotation
    description: Functional annotations and term lookup
  - name: valuesranks
    description: Values/Ranks GSEA-like enrichment (requires API key)
  - name: utility
    description: Utility endpoints (version, links, API key)
paths:
  /api/{format}/get_string_ids:
    get:
      operationId: getStringIds
      summary: Get STRING IDs
      description: >
        Map gene names, protein synonyms, or UniProt IDs to STRING identifiers.
        Use the returned STRING IDs in subsequent API calls for best performance.
      tags:
        - identifiers
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: >
            Protein identifiers to map (names, synonyms, UniProt IDs).
            Separate multiple identifiers with URL-encoded newline (%0d) for GET
            requests, or actual newline/carriage-return for POST requests.
          schema:
            type: string
            example: "TP53%0dEGFR%0dBRCA1"
        - $ref: '#/components/parameters/species'
        - name: limit
          in: query
          required: false
          description: Maximum number of matches to return per input identifier
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: echo_query
          in: query
          required: false
          description: If 1, include the original query identifier in the output
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Mapped STRING identifiers
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StringIdMapping'
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: getStringIdsPost
      summary: Get STRING IDs (POST)
      description: >
        Map gene names, protein synonyms, or UniProt IDs to STRING identifiers.
        POST is recommended for queries with many identifiers.
      tags:
        - identifiers
      parameters:
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - identifiers
              properties:
                identifiers:
                  type: string
                  description: Newline-separated protein identifiers
                species:
                  type: integer
                  description: NCBI taxon ID (e.g. 9606 for human)
                limit:
                  type: integer
                  default: 1
                echo_query:
                  type: integer
                  enum: [0, 1]
                  default: 0
                caller_identity:
                  type: string
      responses:
        '200':
          description: Mapped STRING identifiers
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StringIdMapping'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/network:
    get:
      operationId: getNetwork
      summary: Network Image or Interactions
      description: >
        Retrieve a protein interaction network as an image or interaction data.
        Supports image formats (image, highres_image, svg) and data formats
        (tsv, json, xml, psi-mi, psi-mi-tab).
      tags:
        - network
      parameters:
        - $ref: '#/components/parameters/formatFull'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers (STRING IDs or gene names), newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/required_score'
        - $ref: '#/components/parameters/network_type'
        - name: network_flavor
          in: query
          required: false
          description: Visual style for network edges
          schema:
            type: string
            enum: [evidence, confidence, actions]
            default: evidence
        - name: add_color_nodes
          in: query
          required: false
          description: Number of additional neighborhood proteins to add (shown in color)
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: add_white_nodes
          in: query
          required: false
          description: Number of additional neighborhood proteins to add (shown in white)
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: hide_node_labels
          in: query
          required: false
          description: Hide protein name labels on network nodes (1=hide, 0=show)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: hide_disconnected_nodes
          in: query
          required: false
          description: Hide proteins with no interactions in the result set (1=hide)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Network data or image
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interaction'
            image/png:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: getNetworkPost
      summary: Network Image or Interactions (POST)
      description: >
        Retrieve a protein interaction network via POST. Recommended for
        queries with many identifiers.
      tags:
        - network
      parameters:
        - $ref: '#/components/parameters/formatFull'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - identifiers
              properties:
                identifiers:
                  type: string
                species:
                  type: integer
                required_score:
                  type: integer
                  minimum: 0
                  maximum: 1000
                network_type:
                  type: string
                  enum: [functional, physical]
                network_flavor:
                  type: string
                  enum: [evidence, confidence, actions]
                add_color_nodes:
                  type: integer
                add_white_nodes:
                  type: integer
                caller_identity:
                  type: string
      responses:
        '200':
          description: Network data or image
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/get_link:
    get:
      operationId: getNetworkLink
      summary: Get Network Link
      description: Generate a stable URL linking to a STRING network viewer for the specified proteins.
      tags:
        - network
      parameters:
        - $ref: '#/components/parameters/formatLink'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/required_score'
        - $ref: '#/components/parameters/network_type'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Link to STRING network viewer
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    format: uri
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/interaction_partners:
    get:
      operationId: getInteractionPartners
      summary: Interaction Partners
      description: Retrieve all STRING interaction partners for a set of input proteins.
      tags:
        - network
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - name: limit
          in: query
          required: false
          description: Maximum number of interaction partners to return per protein
          schema:
            type: integer
            default: 10
            minimum: 1
        - $ref: '#/components/parameters/required_score'
        - $ref: '#/components/parameters/network_type'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Interaction partners with scores
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: getInteractionPartnersPost
      summary: Interaction Partners (POST)
      tags:
        - network
      parameters:
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - identifiers
              properties:
                identifiers:
                  type: string
                species:
                  type: integer
                limit:
                  type: integer
                required_score:
                  type: integer
                  minimum: 0
                  maximum: 1000
                network_type:
                  type: string
                  enum: [functional, physical]
                caller_identity:
                  type: string
      responses:
        '200':
          description: Interaction partners with scores
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interaction'

  /api/{format}/homology:
    get:
      operationId: getHomology
      summary: Homology
      description: >
        Return Smith-Waterman bit scores between all pairs of proteins in the input set.
      tags:
        - homology
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Homology scores
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HomologyResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/homology_best:
    get:
      operationId: getHomologyBest
      summary: Best Homology
      description: >
        Return the best cross-species homology hits for input proteins.
        Useful for finding orthologs across species.
      tags:
        - homology
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers (source species), newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - name: species_b
          in: query
          required: false
          description: NCBI taxon ID for the target species (default: all species)
          schema:
            type: integer
            example: 10090
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Best homology hits across species
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HomologyBestResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/enrichment:
    get:
      operationId: getFunctionalEnrichment
      summary: Functional Enrichment
      description: >
        Perform functional enrichment analysis for a set of proteins.
        Returns enriched GO terms (biological process, molecular function,
        cellular component), KEGG pathways, Reactome pathways, Pfam domains,
        InterPro domains, SMART domains, and tissue/disease annotations.
      tags:
        - enrichment
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - name: background_string_identifiers
          in: query
          required: false
          description: Custom background gene set as STRING identifiers for enrichment calculation
          schema:
            type: string
        - name: allow_pubmed
          in: query
          required: false
          description: Include PubMed text mining term enrichment (1=include)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Enriched functional terms with statistics
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnrichmentResult'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: getFunctionalEnrichmentPost
      summary: Functional Enrichment (POST)
      tags:
        - enrichment
      parameters:
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - identifiers
              properties:
                identifiers:
                  type: string
                species:
                  type: integer
                background_string_identifiers:
                  type: string
                allow_pubmed:
                  type: integer
                  enum: [0, 1]
                caller_identity:
                  type: string
      responses:
        '200':
          description: Enriched functional terms
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnrichmentResult'

  /api/{format}/enrichmentfigure:
    get:
      operationId: getEnrichmentFigure
      summary: Enrichment Figure
      description: Generate a visual figure (image) of enrichment analysis results for a protein set.
      tags:
        - enrichment
      parameters:
        - $ref: '#/components/parameters/formatImage'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Enrichment figure image
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/functional_annotation:
    get:
      operationId: getFunctionalAnnotation
      summary: Functional Annotation
      description: >
        Retrieve all functional annotations associated with input proteins.
        Includes GO terms, KEGG pathways, Pfam/InterPro/SMART domains,
        tissue expression (COMPARTMENTS), and disease associations.
      tags:
        - annotation
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - name: allow_pubmed
          in: query
          required: false
          description: Include PubMed text mining annotations (1=include)
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Functional annotations for the proteins
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunctionalAnnotation'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/functional_terms:
    get:
      operationId: getFunctionalTerms
      summary: Functional Terms
      description: >
        Retrieve proteins and details associated with specific functional terms
        (GO terms, KEGG pathways, Reactome pathways, Pfam domains, etc.).
      tags:
        - annotation
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifier
          in: query
          required: true
          description: Functional term identifier (e.g. GO:0008150, hsa00010, PF00069)
          schema:
            type: string
            example: "GO:0008150"
        - name: category
          in: query
          required: false
          description: Term category to restrict search
          schema:
            type: string
            enum:
              - Process
              - Function
              - Component
              - Keyword
              - KEGG
              - RCTM
              - Pfam
              - InterPro
              - SMART
              - NetworkNeighborAL
              - COMPARTMENTS
              - Tissue
              - Disease
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Proteins and details associated with the functional term
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunctionalTermResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/geneset_description:
    get:
      operationId: getGenesetDescription
      summary: Gene Set Description
      description: >
        Retrieve auto-generated textual descriptions for a set of proteins,
        summarizing the most relevant functional themes in the gene set.
      tags:
        - annotation
      parameters:
        - $ref: '#/components/parameters/format'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Textual descriptions for the gene set
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GenesetDescription'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/ppi_enrichment:
    get:
      operationId: getPpiEnrichment
      summary: PPI Enrichment
      description: >
        Test whether the interactions in a set of proteins are more significant
        than expected by random chance given the size and connectivity of the proteome.
        Returns an observed interaction count, expected count, p-value, and average interaction score.
      tags:
        - enrichment
      parameters:
        - $ref: '#/components/parameters/formatPpi'
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, newline-separated (%0d in URL)
          schema:
            type: string
        - $ref: '#/components/parameters/species'
        - $ref: '#/components/parameters/required_score'
        - $ref: '#/components/parameters/network_type'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: PPI enrichment statistics
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PpiEnrichment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/{format}/version:
    get:
      operationId: getVersion
      summary: Version
      description: Return the current STRING database version number and stable address URL.
      tags:
        - utility
      parameters:
        - $ref: '#/components/parameters/formatVersion'
        - $ref: '#/components/parameters/caller_identity'
      responses:
        '200':
          description: Current STRING database version
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TsvResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfo'

  /api/json/get_api_key:
    post:
      operationId: getApiKey
      summary: Get API Key
      description: >
        Obtain an API key required for the Values/Ranks Enrichment endpoints.
        The key is tied to the caller_identity you provide.
      tags:
        - utility
        - valuesranks
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - caller_identity
              properties:
                caller_identity:
                  type: string
                  description: Unique identifier for your application or organization
                  example: "my_lab_pipeline"
      responses:
        '200':
          description: API key for Values/Ranks enrichment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/json/valuesranks_enrichment_submit:
    post:
      operationId: submitValuesRanksEnrichment
      summary: Submit Values/Ranks Enrichment Job
      description: >
        Submit a GSEA-like enrichment analysis on a ranked list of proteins
        with associated numeric values (e.g. fold-change, log p-value).
        Accepts up to 1000 concurrent jobs per API key. Returns a job_id
        to poll with the status endpoint.
      tags:
        - valuesranks
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - api_key
                - identifiers
                - species
              properties:
                api_key:
                  type: string
                  description: API key obtained via the get_api_key endpoint
                identifiers:
                  type: string
                  description: >
                    Tab-separated protein-value pairs, one per line.
                    Each line: STRING_ID<TAB>numeric_value
                species:
                  type: integer
                  description: NCBI taxon ID
                  example: 9606
                ge_fdr:
                  type: number
                  description: False discovery rate threshold for significance (default 0.01)
                  default: 0.01
                  minimum: 0
                  maximum: 1
                caller_identity:
                  type: string
                  description: Identifier for your application
      responses:
        '200':
          description: Job submission confirmation with job ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSubmission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/json/valuesranks_enrichment_status:
    get:
      operationId: getValuesRanksEnrichmentStatus
      summary: Check Values/Ranks Enrichment Status
      description: >
        Check the status of a submitted Values/Ranks enrichment job.
        When status is "done", the response also includes the enrichment results.
      tags:
        - valuesranks
      parameters:
        - name: api_key
          in: query
          required: true
          description: API key used to submit the job
          schema:
            type: string
        - name: job_id
          in: query
          required: true
          description: Job ID returned from the submit endpoint
          schema:
            type: string
      responses:
        '200':
          description: Job status and results (when complete)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/json/valuesranks_enrichment_remove:
    get:
      operationId: removeValuesRanksEnrichmentJob
      summary: Remove Values/Ranks Enrichment Job
      description: Remove a submitted or completed Values/Ranks enrichment job to free up the slot.
      tags:
        - valuesranks
      parameters:
        - name: api_key
          in: query
          required: true
          description: API key used to submit the job
          schema:
            type: string
        - name: job_id
          in: query
          required: true
          description: Job ID to remove
          schema:
            type: string
      responses:
        '200':
          description: Job removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  parameters:
    format:
      name: format
      in: path
      required: true
      description: Output format
      schema:
        type: string
        enum: [tsv, tsv-no-header, json, xml]
        example: json

    formatFull:
      name: format
      in: path
      required: true
      description: Output format (data or image)
      schema:
        type: string
        enum: [tsv, tsv-no-header, json, xml, psi-mi, psi-mi-tab, image, highres_image, svg]
        example: json

    formatLink:
      name: format
      in: path
      required: true
      description: Output format
      schema:
        type: string
        enum: [tsv, json]
        example: json

    formatImage:
      name: format
      in: path
      required: true
      description: Image format
      schema:
        type: string
        enum: [image, highres_image, svg]
        example: image

    formatPpi:
      name: format
      in: path
      required: true
      description: Output format
      schema:
        type: string
        enum: [tsv, json, xml]
        example: json

    formatVersion:
      name: format
      in: path
      required: true
      description: Output format
      schema:
        type: string
        enum: [tsv, json, xml]
        example: json

    species:
      name: species
      in: query
      required: false
      description: >
        NCBI taxon ID to restrict results to a specific organism.
        Common values: 9606 (human), 10090 (mouse), 10116 (rat),
        7227 (D. melanogaster), 6239 (C. elegans), 4932 (S. cerevisiae),
        3702 (A. thaliana), 7955 (zebrafish).
      schema:
        type: integer
        example: 9606

    required_score:
      name: required_score
      in: query
      required: false
      description: >
        Minimum combined interaction score threshold (0-1000).
        Higher values return only higher-confidence interactions.
        Common thresholds: 150 (low), 400 (medium), 700 (high), 900 (highest).
      schema:
        type: integer
        minimum: 0
        maximum: 1000
        default: 400

    network_type:
      name: network_type
      in: query
      required: false
      description: Type of STRING network to use
      schema:
        type: string
        enum: [functional, physical]
        default: functional

    caller_identity:
      name: caller_identity
      in: query
      required: false
      description: >
        A string identifying your application or organization.
        Strongly recommended; helps STRING admins contact you if there are issues.
      schema:
        type: string
        example: "my_bioinformatics_pipeline"

  schemas:
    TsvResponse:
      type: string
      description: Tab-separated values response with header row

    XmlResponse:
      type: string
      description: XML-formatted response

    StringIdMapping:
      type: object
      description: Mapping from input identifier to STRING protein ID
      properties:
        queryIndex:
          type: integer
          description: Index of the input identifier in the query
        stringId:
          type: string
          description: STRING protein identifier (e.g. 9606.ENSP00000269305)
          example: "9606.ENSP00000269305"
        ncbiTaxonId:
          type: integer
          description: NCBI taxon ID of the matched protein
          example: 9606
        taxonName:
          type: string
          description: Scientific name of the organism
          example: "Homo sapiens"
        preferredName:
          type: string
          description: Preferred gene/protein name in STRING
          example: "TP53"
        annotation:
          type: string
          description: Short functional annotation

    Interaction:
      type: object
      description: Protein-protein interaction with component scores
      properties:
        stringId_A:
          type: string
          description: STRING identifier for protein A
          example: "9606.ENSP00000269305"
        stringId_B:
          type: string
          description: STRING identifier for protein B
          example: "9606.ENSP00000083083"
        preferredName_A:
          type: string
          description: Preferred name for protein A
          example: "TP53"
        preferredName_B:
          type: string
          description: Preferred name for protein B
          example: "MDM2"
        ncbiTaxonId:
          type: integer
          description: NCBI taxon ID
          example: 9606
        score:
          type: number
          description: Combined interaction score (0-1)
          minimum: 0
          maximum: 1
          example: 0.999
        nscore:
          type: number
          description: Genomic neighborhood score
          minimum: 0
          maximum: 1
        fscore:
          type: number
          description: Gene fusion score
          minimum: 0
          maximum: 1
        pscore:
          type: number
          description: Phylogenetic co-occurrence score
          minimum: 0
          maximum: 1
        ascore:
          type: number
          description: Co-expression score
          minimum: 0
          maximum: 1
        escore:
          type: number
          description: Experimental evidence score
          minimum: 0
          maximum: 1
        dscore:
          type: number
          description: Database/curated evidence score
          minimum: 0
          maximum: 1
        tscore:
          type: number
          description: Text mining score
          minimum: 0
          maximum: 1

    HomologyResult:
      type: object
      description: Smith-Waterman homology score between two proteins
      properties:
        stringId_A:
          type: string
          description: STRING identifier for protein A
        stringId_B:
          type: string
          description: STRING identifier for protein B
        bitscore:
          type: number
          description: Smith-Waterman bit score
        identity:
          type: number
          description: Sequence identity (0-100%)

    HomologyBestResult:
      type: object
      description: Best cross-species homology hit
      properties:
        stringId:
          type: string
          description: Source protein STRING identifier
        ncbiTaxonId_A:
          type: integer
          description: Source species NCBI taxon ID
        ncbiTaxonId_B:
          type: integer
          description: Target species NCBI taxon ID
        stringId_B:
          type: string
          description: Target protein STRING identifier
        bitscore:
          type: number
          description: Smith-Waterman bit score of the best hit
        identity:
          type: number
          description: Sequence identity percentage

    EnrichmentResult:
      type: object
      description: Functional enrichment result for one term
      properties:
        category:
          type: string
          description: >
            Functional annotation category (e.g. Process, KEGG, Pfam, RCTM, Tissue)
          example: "Process"
        term:
          type: string
          description: Functional term identifier
          example: "GO:0006915"
        number_of_genes:
          type: integer
          description: Number of input genes annotated to this term
        number_of_genes_in_background:
          type: integer
          description: Number of background genes annotated to this term
        ncbiTaxonId:
          type: integer
          description: NCBI taxon ID
        inputGenes:
          type: string
          description: Comma-separated list of input gene names annotated to this term
        preferredNames:
          type: string
          description: Comma-separated list of preferred gene names
        p_value:
          type: number
          description: Enrichment p-value (hypergeometric test)
          example: 1.23e-10
        fdr:
          type: number
          description: False discovery rate (Benjamini-Hochberg corrected)
          example: 4.56e-8
        description:
          type: string
          description: Human-readable name of the functional term
          example: "apoptotic process"

    FunctionalAnnotation:
      type: object
      description: Functional annotation for a protein
      properties:
        stringId:
          type: string
          description: STRING protein identifier
        ncbiTaxonId:
          type: integer
          description: NCBI taxon ID
        taxonName:
          type: string
          description: Scientific name of the organism
        preferredName:
          type: string
          description: Preferred gene/protein name
        category:
          type: string
          description: Annotation category
        term:
          type: string
          description: Term identifier
        description:
          type: string
          description: Human-readable term description

    FunctionalTermResult:
      type: object
      description: Proteins associated with a specific functional term
      properties:
        category:
          type: string
          description: Annotation category
        term:
          type: string
          description: Term identifier
        description:
          type: string
          description: Human-readable term description
        preferredName:
          type: string
          description: Protein preferred name
        stringId:
          type: string
          description: STRING identifier for the protein

    GenesetDescription:
      type: object
      description: Auto-generated description for a protein gene set
      properties:
        description:
          type: string
          description: Auto-generated functional description of the gene set
        ncbiTaxonId:
          type: integer
          description: NCBI taxon ID

    PpiEnrichment:
      type: object
      description: PPI enrichment statistics for the input protein set
      properties:
        number_of_nodes:
          type: integer
          description: Number of proteins in the input set
        number_of_edges:
          type: integer
          description: Observed number of interactions
        average_node_degree:
          type: number
          description: Average number of interaction partners per protein
        local_clustering_coefficient:
          type: number
          description: Average local clustering coefficient
        expected_number_of_edges:
          type: number
          description: Expected number of interactions at random
        p_value:
          type: number
          description: P-value for interaction enrichment

    ApiKey:
      type: object
      description: API key for Values/Ranks enrichment endpoints
      properties:
        api_key:
          type: string
          description: The API key to use in subsequent Values/Ranks requests

    JobSubmission:
      type: object
      description: Job submission response
      properties:
        job_id:
          type: string
          description: Unique job identifier for polling

    JobStatus:
      type: object
      description: Job status and results
      properties:
        status:
          type: string
          enum: [queued, running, done, error]
          description: Current job status
        job_id:
          type: string
          description: Job identifier
        results:
          type: array
          description: Enrichment results (only present when status is "done")
          items:
            $ref: '#/components/schemas/EnrichmentResult'

    VersionInfo:
      type: object
      description: Current STRING database version
      properties:
        string_version:
          type: string
          description: STRING database version number
          example: "12.0"
        stable_address:
          type: string
          format: uri
          description: Stable URL for this version of STRING
          example: "https://version-12-0.string-db.org"

    Error:
      type: object
      properties:
        status:
          type: integer
        error:
          type: string
        message:
          type: string

  responses:
    BadRequest:
      description: Bad request (invalid parameters)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/plain:
          schema:
            type: string
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: >
        API key required only for Values/Ranks Enrichment endpoints.
        Obtain via POST /api/json/get_api_key. All other endpoints
        are publicly accessible without authentication.

security: []
